<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender for logging to console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- You can add additional custom logging for other libraries or packages as needed -->
    <logger name="org.telegram" level="INFO"/>

    <!-- Specific Logger for your package -->
    <logger name="com.faqtelegrambot" level="DEBUG"/>
    
</configuration>
